{{>layouts/header}}
<form class="container" action="/articles" method="post">
    <input type="text" name="title" />
    <input type="text" name="content" />
    <button type="submit" name="submit">제출</button>
</form>
{{>layouts/footer}}
